@font-face {
    font-family: myFirstFont;
    src: url(BLACK.ttf);
}

.post{
	font-family: "myFirstFont";
	font-size: 4vw;
	text-align: center;
	color: #fff;
}

.post1{
	text-align: center;
	font-size: 1.75vw;
	color: #fff;
}

 body{
      background-color: #000;
}  

input:hover,
.btn:hover {
  	opacity: 1;
  	-webkit-box-shadow: -8px 10px 25px 0px #fff; 
	box-shadow: -8px 10px 25px 0px #fff;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.col1{
  width: 50%;
  margin: auto;
  padding: 50px;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
}

