html {
  padding: 0px;
  margin: 0px;
}
body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  background-color:   #e6e6e6;
}

.main-logo-div img{
  padding-top: 3vh;
  padding-bottom: 6vh;

  filter: grayscale(70%);
  
  min-width: 300px;
  width: 30vw;
}
.ml14 {
  font-weight: 400;
  font-size: 4vh;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #aaa;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  color: #595959;
  display: inline-block;
  line-height: 1em;
}

.signin-div {
  background-color:  #e4cb81;
}

@media screen and (min-width: 700px) {
.ml14 {
  font-weight: 200;
  font-size: 4vw;
  }
}
/* add appropriate colors to fb and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

@keyframes flipImage {
    0%   {-ms-transform: rotateY(0deg); /* IE 9 */
    -webkit-transform: rotateY(0deg); /* Safari */
    transform: rotateY(0deg); /* Standard syntax */
    }
    50%   {-ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */
    }

    100%   {-ms-transform: rotateY(359deg); /* IE 9 */
    -webkit-transform: rotateY(359deg); /* Safari */
    transform: rotateY(359deg); /* Standard syntax */
    }
}

/* The element to apply the animation to */
.flip {
    animation-name: flipImage;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}